<div class="container">
      <section id="explanation" class="width-two-thirds">

          <h3>About this Project</h3>
          <p>
            A single universal analytics dashboard view for all BMJ Publishing Group websites where anyone from the business would be able to go and view important up to a minute updated web metrics data visualisations such as how content across all our websites is being used, most popular trending articles & search terms, type of technology visitors use to access our website, etc...
          </p>
<h3>Benefit &amp; Motivation</h3>
          <p>
            We've 100's of Google Analytics accounts for our websites & apps, and by default the way our GA accounts are set-up, metrics reporting is done on site/product basis and there is a disconnect what really is happening across all our sites / products. A single universal analytics dashboard view would help us to bridge this disconnect and have some broad overview of near real-time (up to a minute updated) how users are interacting with our sites and products.
For example, as part of the dashboard, we could create a panel for top trending article views or search term or topics. This may allow Marketing to identify trending page and do some near real-time ad targeting. 
</p>


          <p>
            This open source project is in the public domain, which means that this website and its data are free for you to use without restriction. You can find the <a href="#" class="external-link">code for this website</a> and the <a href="#" class="external-link">code behind the data collection</a> on GitHub.
          </p>

          <p>
            We plan to expand the data made available here. If you have any suggestions, or spot any issues or bugs, please <a href="#" class="external-link">open an issue on GitHub</a> or contact the <a href="#" class="external-link">BMJ Analytics Program</a>.
          </p>
      </section>
      <section class="width-one-third">
        <h3>Download the data</h3>
        <p>You can <a href="{{ site.url }}{% if page.slug %}/{{ page.slug }}{% endif %}/data/">download the data here.</a> Available in JSON and CSV format.</p>
      </section>
</div>
